.landing {
    padding: 4rem 2rem;
    background: #827a9a;
    color: white;
}

h1 {
    font-size: 50px;
}

.container-home {
   background: #454558;
}


div.row.prev-img {
    background: #454558;
}

.container-first {
    background: #454558;
}

body.h-100 {
    margin-top: 0px;
    margin: 0px;
}

.img-fluid {
    max-width: 130%;
    height: 242px;
    width: 337px;
}

h2.lead.mt-5 {
    color: white;
}