.landing {
    padding: 4rem 2rem;
    background: #827a9a;
    color: white;
}

h1 {
    font-size: 50px;
}

.container-home {
   background: #454558;
}


div.row.prev-img {
    background: #454558;
}

.container-first {
    background: #454558;
}

body.h-100 {
    margin-top: 0px;
    margin: 0px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 116%;
    height: 305px;
    width: 450px;
}